# Ignore large logs and temporary files
logs/
*.log
*.txt

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# ingnore pycache folders
__pycache__/

# Ignore database files
*.db

# Ignore application data
/data/
